page-home {
    .toolbar-background.toolbar-background-md{
        background-color:#0F7ABC;
     }
     .btn-toggle{
         color:#FFF;
     }
     .logo{
        float:right;
        margin-right:3%;
        margin-top: 2%;    
        -webkit-margin-bottom-collapse: 2%;
    } 
    ion-grid{
        text-align:center;
    }  
}
