page-bebes {
    .toolbar-background{
        background-color:#0F7ABC;
    }
    .logo{
        float:right;
        margin-right:3%;
        margin-top: 2%;    
        -webkit-margin-bottom-collapse: 2%;
    } 

    .btn-toggle {
        color:#FFF;
    }
}
